body {
    font-size: 12px;
}

a {
    cursor: pointer;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

label {
    font-weight: bold;
}

/* body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #052259;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    background-color: #F5F5F5;
} */

.bg-light {
    background-color: #ffffff !important;
}

.navbar {
    padding: 0 10%;
    font-size: 100%;
}

.calendar-container {
    margin-bottom: 2%;
}

.card-header,
.modal-header {
    /* background-color: #052259;
  color: white; */
}

.agent-form .table tr:nth-child(even) {
    background-color: transparent !important;
}

table tr:nth-child(even) {
    background-color: #eeeeee !important;
}

table th {
    background-color: #e0e0e0 !important;
}

.clock-card {
    background: #052259;
    margin: 0 5px 0px 5px;
    text-align: center;
    width: 100px;
    padding: 4px 0 0px 0;
    cursor: default;
    color: white;
}

.clock-card:hover {
    background: #052259;
    color: white;
}

/* .alert-trim {
    display: inline-block;
    width: max-content;
} */

/* .call-status{
    margin:0% % 2% 2%;
} */

/* Table Scroll Bars */

.table-wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #052259;
}

.table-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    background-color: #F5F5F5;
}

#calender::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#calender::-webkit-scrollbar-thumb {
    background-color: #052259;
}

#calender::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    background-color: #F5F5F5;
}

/* Fixed Header table Call history */

.table-wrapper.table-call-history {
    display: block;
    max-height: 428px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* width: 100%; */
}

.table-wrapper.table-profit,
.table-wrapper.table-open-position,
.table-wrapper.table-closed-position {
    display: block;
    max-height: 428px;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
}

/* .table-wrapper.table-open-position {
    display: block;
    max-height: 428px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
} */

/* .table-striped.table-call-history {
    width: 400px;
} */

/* Table Recently-login */

.table-wrapper.table-recently-online {
    display: block;
    max-height: 240px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scheduled-calls,
.agent-lead-pool,
.call-history,
.agent-call-tabs {
    margin-top: 2%;
}

/* .call-status{
    padding-bottom: 2%;
} */

.dataTables_filter {
    margin: 2% 2% 0%;
}

table.dataTable tr {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.dataTables_length select,
.dataTables_length label,
.dataTables_filter {
    display: none;
    visibility: hidden;
}

.scheduled-calls,
.agent-lead-pool {
    width: auto;
}

/* .dataTables_paginate.paging_simple_numbers a {
  border: 1px thin black;
  padding: 5.5px 8px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: rgb(235, 235, 235);
  margin: 0 0px 0 0px;
}

.dataTables_paginate.paging_simple_numbers a:hover {
  background-color: #052259;
  color: white;
  text-decoration-line: none;
} */

/* 
div.dataTables_wrapper,
div.dataTables_paginate {
  margin: 0px 10px 10px 0px;
} */

/* .paginate_button.previous {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
} */

/* .paginate_button.next {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 10px 0px 0 0px;
} */

.dataTables_info {
    padding-left: 4%;
    padding-bottom: 2%;
    display: inline-block;
}

/* Modal */

.modal-body {}

.table-lead-history input[type=text],
    {
    width: 30px;
    height: 30;
    box-sizing: border-box;
    border: 2px solid #797878;
    border-radius: 4px;
    /* background-color: white; */
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}

.table-lead-history input[type=text]:focus,
.table-with-search input[type=text]:focus {
    width: 50%;
    border: 2px solid #cccccc;
}

.table-lead-mgm-search input[type=text]:focus {
    width: 50%;
    border: 2px solid #cccccc;
}

.table-lead-mgm-search input[type=text] {
    /* margin: 0.5% 1% 0 0; */
    width: 35px;
    height: 30;
    box-sizing: border-box;
    border: 2px solid #797878;
    border-radius: 4px;
    /* background-color: white; */
    background-image: url('searchicon.png');
    /* background-position: 10px 10px; */
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}

.table-agent-lead-pool input[type=text],
.table-scheduled-calls input[type=text],
.table-registration input[type=text],
.table-recently-online input[type=text],
.table-search input[type=text] {
    margin: 1% 2% 0 0;
    width: 30px;
    height: 30;
    box-sizing: border-box;
    border: 2px solid #797878;
    border-radius: 4px;
    /* background-color: white; */
    background-image: url('searchicon.png');
    /* background-position: 10px 10px; */
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}

.table-agent-lead-pool input[type=text]:focus,
.table-recently-online input[type=text]:focus,
.table-all-leads input[type=text]:focus,
.table-registration input[type=text]:focus,
.table-search input[type=text]:focus,
.table-scheduled-calls input[type=text]:focus {
    width: 50%;
    border: 2px solid #cccccc;
}

.table-recently-online input[type=text] {
    margin-bottom: 2%;
}

.agent-form {
    margin-top: 1%;
}

.call-section-row {
    margin: 1% 0 0% 0;
    /* margin: 1% 0 1% 0; */
}

/*
.agent-content-row{
    margin-top: 30px;
} */

/* .fc td{background: red;} */

.fc-today.alert {
    background: #ffffff !important;
}

.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable.fc-short {
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
}

.fc-center {
    padding-top: 5%;
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
}

.fc h2 {
    font-size: 15px !important;
}

#calendar>div.fc-view-container>div>table>tbody>tr>td>div.fc-scroller.fc-time-grid-container>div>div.fc-slats>table>tbody>tr:nth-child(4n+1) {
    font-weight: bold;
}

#table-agent-lead-pool tbody>tr:nth-child(1) {
    background-color: #f57e7e8c;
}

#table-agent-lead-pool tbody>tr:nth-child(4) {
    background-color: #90f57e8c;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    /* margin-right: .1rem; */
}

.btn-update-modal {
    border: 2px solid #052259;
    background: white;
    color: #052259
}

.btn-update-modal:hover {
    border: 2px solid #052259;
    background: #052259;
    color: white;
}

.btn-standard {
    border: 2px solid #052259;
    background: white;
    color: #052259;
}

.btn-standard:hover {
    border: 2px solid #052259;
    background: #052259;
    color: white;
}

.nav-tabs .nav-link.active {
    background: #052259 !important;
    color: white;
}

.comment-call-history {
    text-overflow: ellipsis;
    cursor: pointer;
    /* word-break: break-all; */
    overflow: hidden;
    white-space: nowrap;
}

.comment-call-history:hover {
    overflow: visible;
    transition-delay: 2s;
    white-space: normal;
    height: auto;
    /* just added this line */
}

.navbar-dark {
    background: #052259 !important;
}

.navbar{
    padding-top: 8px;
    padding-bottom: 8px;

}